{% extends '../layout/base.html' %} {% load static %} {% block css %}
<style>

</style>
{% endblock css %} {% block body %} {% include 'include/nav.html' %}

<body>
    <section id="cta" class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 align-self-center">
                    <h2>TrendNavigator</h2>
                    <p class="lead">
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="newsletter-widget text-center align-self-center">
                        <h3>Subscribe Today!</h3>
                        <p>Subscribe to our weekly Newsletter and receive updates via email.</p>
                        <form class="form-inline" method="post" action="/">
                            {% csrf_token %}
                            <input type="text" name="email" placeholder="Add your email here.." required class="form-control" />
                            <input type="submit" value="Subscribe" class="btn btn-default btn-block" />
                        </form>
                    </div>
                    <!-- end newsletter -->
                </div>
            </div>
        </div>
        <div>
            <button placeholder=" trends ">
            </button>
        </div>
    </section>

    <section class="section lb ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="page-wrapper ">
                        <div class="blog-custom-build ">
                            <div class="blog-box wow fadeIn ">
                               
                                        <!-- end hover -->
                                    </a>
                                </div>
                                <!-- end media -->

                                <!-- end post-sharing -->
                                <h4><a href="marketing-single.html " title=" "></a></h4>
                                <p></p>
                                <small><a href="marketing-category.html " title=" "></a></small>
                                <small><a href="marketing-single.html " title=" "></a></small>
                                
                            </div>
                            <!-- end meta -->
                        </div>
                        <!-- end blog-box -->

                        <hr class="invis ">

                        <div class="blog-box wow fadeIn ">
                            <div class="post-media ">
                                <a href="marketing-single.html " title=" ">
                                    
                                    <div class="hovereffect ">
                                        <span></span>
                                    </div>
                                    <!-- end hover -->
                                </a>
                            </div>
                            <!-- end media -->

                            <!-- end post-sharing -->
                            <h4><a href="marketing-single.html " title=" "></a></h4>
                            <p></p>
                          
                            
                        <!-- end meta -->
                    </div>
                    <!-- end blog-box -->

                    <hr class="invis ">

                    <div class="blog-box wow fadeIn ">
                        <div class="post-media ">
                            <a href="marketing-single.html " title=" ">
                               
                                <div class="hovereffect ">
                                    <span></span>
                                </div>
                                <!-- end hover -->
                            </a>
                        </div>
                        <!-- end media -->

                        <!-- end post-sharing -->
                        <h4><a href="marketing-single.html " title=" "></a></h4>
                        <p></p>
                        <small><a href="marketing-category.html " title=" "></a></small>
                        <small><a href="marketing-single.html " title=" "></a></small>
                        <small><a href="# " title=" "></a></small>
                        
                    </div>
                    <!-- end meta -->
                </div>
                <!-- end blog-box -->

                <hr class="invis ">

                <div class="blog-box wow fadeIn ">
                    <div class="post-media ">
                        <a href="marketing-single.html " title=" ">
                            
                            <div class="hovereffect ">
                                <span></span>
                            </div>
                            <!-- end hover -->
                        </a>
                    </div>
                    <!-- end media -->

                    <!-- end post-sharing -->
                    <h4><a href="marketing-single.html " title=" "></a></h4>
                    <p> </p>
                    <small><a href="marketing-category.html " title=" "></a></small>
                    <small><a href="marketing-single.html " title=" "></a></small>
                    <small><a href="# " title=" "></a></small>
                   
                </div>
                <!-- end meta -->
            </div>
            <!-- end blog-box -->

            <hr class="invis ">

            <div class="blog-box wow fadeIn ">
                <div class="post-media ">
                    <a href="marketing-single.html " title=" ">
                       
                        
                        <div class="hovereffect ">
                            <span></span>
                        </div>
                        <!-- end hover -->
                    </a>
                </div>
                <!-- end media -->

                <!-- end post-sharing -->
                <h4><a href="marketing-single.html " title=" "></a></h4>
                <p> </p>
                <small><a href="marketing-category.html " title=" "></a></small>
                <small><a href="marketing-single.html " title=" "></a></small>
               
            </div>
            <!-- end meta -->
        </div>
        <!-- end blog-box -->

        <hr class="invis ">

        <div class="blog-box wow fadeIn ">
            <div class="post-media ">
                <a href="marketing-single.html " title=" ">
                   
                    <div class="hovereffect ">
                        <span></span>
                    </div>
                    <!-- end hover -->
                </a>
            </div>
            <!-- end media -->

            <!-- end post-sharing -->
            <h4>
                <title="">
            <p> </p>
           
            
        </div>
        <!-- end meta -->
        </div>
        <!-- end blog-box -->
        </div>
        </div>

        <hr class="invis ">

        <div class="row ">
            <div class="col-md-12 ">
                <nav aria-label="Page navigation ">
                    
                </nav>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        </div>
        <!-- end col -->
        </div>
        <!-- end widget -->

        <div id=" " class="widget ">

            <div class="banner-spot clearfix ">
                <div class="banner-img ">
                   
                </div>
                <!-- end banner-img -->
            </div>
            <!-- end banner -->
        </div>
        <!-- end widget -->

        </div>
        <!-- end widget -->


        <!-- end link-widget -->
        </div>
        <!-- end widget -->
        </div>
        <!-- end sidebar -->
        </div>
        <!-- end col -->
        </div>
        <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    {% include 'include/footer.html'%}

    <!-- end footer -->

    <div class="dmtop ">Scroll to Top</div>

    </div>
    <!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="js/jquery.min.js "></script>
    <script src="js/tether.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/animate.js "></script>
    <script src="js/custom.js "></script>

</body>{% endblock body %}