{% extends '../layout/base.html' %} {% load static %} {% block body %} {% include 'include/nav.html' %} body

<div class="page-title db">

    <!-- end container -->
</div>

<!-- end page-title -->

<section class="section lb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">


                    <div class="widget align-center">
                        <p style="color:blue;" class=" widget-title ">DIGININJA help to content creator to find trending data from various sources like Google twiter and famous keyword</p>
                        <div class="blog-list-widget ">
                            <div class="list-group ">

                                <div class="w-100 justify-content-between ">
                                    <img src=" {% static 'upload/twi13.png' %} " alt=" " class="img-fluid float-left ">
                                    <h5 class="mb-1 ">Twitter data </h5>
                                    <small>12 Jan, 2016</small>
                                </div>


                                <div class="w-100 justify-content-between ">
                                    <img src="{% static 'upload/twi9.png' %} " alt=" " class="img-fluid float-left ">
                                    <h5 class="mb-1 ">Google data representation through graph</h5>
                                    <small>11 Jan, 2016</small>
                                </div>


                                <div class="w-100 last-item justify-content-between ">
                                    <img src=" {% static 'upload/twi14.png' %} " alt=" " class="img-fluid float-left ">
                                    <h5 class="mb-1 ">Famous keyword on internet</h5>
                                    <small>07 Jan, 2016</small>
                                </div>

                            </div>
                        </div>
                        <!-- end blog-list -->
                    </div>
                    <!-- end widget -->

                    <!-- end widget -->


                    <!-- end widget -->

                    <div class="widget ">
                        <h2 class="widget-title ">Location</h2>
                        <div class="col-md-12 ">
                            <div class="map_main ">
                                <div class="map-responsive ">
                                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France " width="600 " height="490 " frameborder="0 " style="border:0; width: 100%;
                            " allowfullscreen=" "></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- end link-widget -->
                    </div>
                    <!-- end widget -->
                </div>
                <!-- end sidebar -->
            </div>
            <!-- end col -->

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="page-wrapper ">
                    <div class="blog-custom-build ">
                        <div class="blog-box wow fadeIn ">
                            <div class="post-media ">
                                <a href="marketing-single.html " title=" ">
                                    <img src="upload/market_blog_01.jpg " alt=" " class="img-fluid ">
                                    <div class="hovereffect ">
                                        <span></span>
                                    </div>
                                    <!-- end hover -->
                                </a>
                            </div>
                            <!-- end media -->

                            <!-- end meta -->
                        </div>
                        <!-- end blog-box -->

                        <hr class="invis ">

                        <div class="blog-box wow fadeIn ">
                            <div class="post-media ">
                                <a href="marketing-single.html " title=" ">
                                    <img src="upload/market_blog_02.jpg " alt=" " class="img-fluid ">
                                    <div class="hovereffect ">
                                        <span></span>
                                    </div>
                                    <!-- end hover -->
                                </a>
                            </div>
                            <!-- end media -->


                            <hr class="invis ">

                            <div class="row ">
                                <div class="col-md-12 ">
                                    <nav aria-label="Page navigation ">
                                        <ul class="pagination justify-content-center ">
                                            <li class="page-item "><a class="page-link " href="# ">1</a></li>
                                            <li class="page-item "><a class="page-link " href="# ">2</a></li>
                                            <li class="page-item "><a class="page-link " href="# ">3</a></li>
                                            <li class="page-item ">
                                                <a class="page-link " href="# ">Next</a>
                                            </li>
                                        </ul>
                                    </nav>

                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end col -->
                    </div>

                    <!-- end row -->
                </div>
                <!-- end container -->
</section>
{% include 'include/footer.html' %}
<!-- end footer -->

<div class="dmtop ">Scroll to Top</div>

</div>
<!-- end wrapper -->

<!-- Core JavaScript
    ================================================== -->
<script src="js/jquery.min.js "></script>
<script src="js/tether.min.js "></script>
<script src="js/bootstrap.min.js "></script>
<script src="js/animate.js "></script>
<script src="js/custom.js "></script>

</body>{% endblock body%}